extends layout

//- block stylesheets
//-   link(href='/stylesheets/index.css', rel='stylesheet')

block content
  h1 User Registration

  form(action='/demo/signup', method='post')
    div.form-group
      div.input-group
        span.input-group-addon
          span.fa.fa-user
        input.form-control(type='text' name='firstName', placeholder='First Name')
    div.form-group
      div.input-group
        span.input-group-addon
          span.fa.fa-user
        input.form-control(type='text' name='lastName', placeholder='Last Name')
    div.form-group
      div.input-group
        span.input-group-addon
          span.fa.fa-envelope
        input.form-control(type='email' name='email', placeholder='Email')
    div.form-group
      div.input-group
        span.input-group-addon
          span.fa.fa-lock
        input.form-control(type='password' name='password', placeholder='Password')
    button.btn(type='submit') Submit

//- block scripts
//-   script(src='/javascripts/index.js', type='text/javascript')
