extends demoLayout

block stylesheets
  link(href='/stylesheets/index.css', rel='stylesheet')

block content
  div#above-the-fold.lp-panel
    div.text-center.vertical-center
      p#lp-headline Welcome to the

      p#lp-brand Club Sandwich

      p#lp-headline App Demo
      br
      p
        a.btn.btn-inverse(href='/demo/users/signup') Start Here

      //- form
      //-   input(type='text')

  //- div.lp-panel

block scripts
  script(src='/javascripts/index.js', type='text/javascript')
