extends layout

//- block stylesheets
//-   link(href='/stylesheets/index.css', rel='stylesheet')

block content
  h1 #{user.firstName} #{user.lastName}

  p= user.email

//- block scripts
//-   script(src='/javascripts/index.js', type='text/javascript')
