doctype html
html
  head
    title= title

    link(href='//oss.maxcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
    link(href='//oss.maxcdn.com/fontawesome/4.5.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')

    block stylesheets
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      div.container-fluid
        ul.nav.navbar-nav.navbar-right
          li
            a.btn.btn-default.btn-inverse.navbar-btn(href='/') Leave Demo

    block content

    script(src='//oss.maxcdn.com/jquery/1.11.3/jquery.min.js', type='text/javascript')

    block scripts
